.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 650px;
  border: solid 2px #000000;
  padding: 20px;
  min-height: 400px;
}

.content {
  display: flex;
}

.content > div:first-child {
  flex: 2;
}

.content > div:first-child {
  flex: 1;
}

.list-item {
  display: flex;
  margin-bottom: 5px;
}

.list-item > button {
  margin-right: 6px;
}
