.App {
  text-align: center;
  ul {
    padding: 10px;
    background-color: antiquewhite;
    li {
      background-color: azure;
      margin: 10px 0;
      a {
        padding: 10px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
